html
{
    min-height: 100%;
}

body
{
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 16px;

    height: 100%;
    margin: 0;
    margin: 0;
    padding: 0;

    color: #333;
}

canvas
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #f2f2f2;
}

textarea
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 4rem;
}

h1
{
    font-size: 2rem;

    margin: 0;
    padding: 0;
}

input[type='range']
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}

footer
{
    font-size: 14px;

    position: absolute;
    bottom: 0;
    left: 0;

    text-align: center;

    color: #777;
}

footer > a
{
    color: #777;
}

.sidebar
{
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;

    width: 280px;
    padding: 8px;
    padding-right: 24px;

    transition: all 1s ease-in-out;
    transform: translate(-300px, 0px);

    background-color: #ddd7cb;
}

.sidebar.active
{
    transform: translate(0px, 0px);
}

#toggle-sidebar
{
    font-size: 8px;

    position: absolute;
    top: 0;
    right: 0;

    width: 16px;
    height: 100%;
    margin: 0;
    padding: 0;

    border: none;
    border-left: thin solid #333;
    background-color: rgba(0, 0, 0, .1);
}

#toggle-sidebar:after
{
    content: '>>';
}

.active #toggle-sidebar:after
{
    content: '<<';
}

#vertex-info
{
    position: absolute;
    top: -1000px;
    left: -1000px;

    padding: 5px 8px;

    border-radius: 6px;
    background-color: rgba(220, 220, 220, .8);
}
